* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #F7F7F7;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: #CCCCCC;;
}
.wrapper {
    max-width: 1230px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}
.header {
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 1000;
    height: 100px;
    width: 100%;
}
.survival {
    height: 780px;
    background: #02160b url("img/bg_header.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 0 15px;
}
.navigation {
    height: 50px;
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
.nav-item {
    margin-right: 65px;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav_link {
    text-decoration: none;
    color: inherit;
    font-size: 23px;
    position: relative;
}
.nav_link.under-line::before {
    content: '';
    position: absolute;
    display: block;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background: #F7F7F7;
    transition: width .2s linear;
}
.nav_link.under-line:hover::before {
    width: 100%;
}
.nav_link img {
    transform: scale(1);
    transition: transform .2s linear;
}
.nav_link img:hover {
    transform: scale(1.5);
}
.header_btn {
    width: 120px;
    height: 50px;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: background .2s linear;
}
.header_btn:hover {
    background: #CD6326;
}
.survival_title {
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
    margin-bottom: 48px;
    margin-top: -35px;
}
.survival_content {
    width: 274px;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 49px;
}
.btn_survival{
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: inherit;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CD6326;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: background .2s linear;
    width: 160px;
    height: 60px;
}
.btn:hover {
    background: #E39128;
}
.btn:active {
    background: #8F5613;
}
.latest_articles {
    padding: 127px 0 240px;
}
.l_a_title {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    margin: 0 0 33px 0;
}
.l_a_content {
    font-size: 24px;
    text-align: center;
    color: #666666;
    margin-bottom: 126px;
}
.photos_inner {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.photo_inner-item {
    position: relative;
    width: 300px;
    height: 360px;
    overflow: hidden;
}
.photo_about {
    position: absolute;
    bottom: 46px;
    left: 0;
    width: 100%;
}
.photo_about h4 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 17px;
}
.photo_about p {
    font-size: 17px;
    text-align: center;
}
.arrow img {
    position: absolute;
    top: calc(50% - 19px);
}
.arrow_prev {
    left: 0;
}
.get_notified {
    padding-bottom: 240px;
}
.get_notified-tittle {
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    margin:0 0 65px;
}
form {
    display: flex;
    justify-content: center;
}
#email {
    background-color: transparent;
    border: solid 1px #666666;
    width: 540px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 23px;
    display: flex;
    align-items: center;
    color: #666666;
    padding-left: 15px;
    letter-spacing: 1px;
    outline: none;
}
#send {
    width: 120px;
    height: 60px;
    font-weight: 400;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7F7F7;
    background: #CD6326;
    outline: none;
    border: 1px solid #CD6326;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .2s linear;
}
#send:hover {
    background: #E39128;
}
#send:active {
    background: #8F5613;
}
footer {
    background: url("img/bg_footer.jpg") center center no-repeat;
    background-size: cover;
    height: 360px;
}
.footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 360px;
}
.nav-item-footer {
    margin-right: 85px;
}
.footer_social {
    display: flex;
    list-style: none;
    padding: 0;
}
.footer_social-item {
    margin-left: 27px;
}
.footer_social-item:first-child {
    margin: 0;
}
.social-link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: scale(1);
    transition: transform .2s linear;
}
.social-link[href*="facebook"] {
    background: #F7F7F7 url('img/facebook.svg') center center no-repeat;
}
.social-link[href*="insta"] {
    background: #F7F7F7 url('img/insta.svg') center center no-repeat;
}
.social-link[href*="pinterest"] {
    background: #F7F7F7 url('img/pinterest.svg') center center no-repeat;
}
.social-link[href*="telegram"] {
    background: #F7F7F7 url('img/telegram.svg') center center no-repeat;
}
.social-link:hover {
    transform: scale(1.3);
}
